<div class="modal full-modal page-event-view" id="modal_view_event" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h1 class="modal-title">#570</h1>
                            <span class="label label-info">Aceito</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <h4 class="h4">Contratante</h4>
                            <ul class="list-data">
                                <li><strong>Nome:</strong> Donald Draper</li>
                                <li><strong>CPF:</strong> 000.000.000-00</li>
                                <li><strong>E-mail:</strong> donald.draper@domain.com</li>
                                <li><strong>Telefone:</strong> (31) 0000-0000</li>
                                <li><strong>Celular:</strong> (31) 9 0000-0000</li>
                            </ul>
                            <hr>
                            <h6>Mensagem</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>

                        <div class="col-md-4">
                            <h4>Evento</h4>
                            <ul class="list-data">
                                <li><strong>Identificação:</strong> #560</li>
                                <li><strong>Convite recebida em:</strong> 12/07/2016</li>
                                <li><strong>Título do Evento:</strong> Lorem ipsum sit dolor</li>
                                <li><strong>Tipo de Evento:</strong> Palestra</li>
                                <li><strong>Data:</strong> 18/07/2016</li>
                                <li><strong>Horário:</strong> 21h</li>
                                <li><strong>Duração:</strong> 5h45m</li>
                                <li><strong>Endreço:</strong> Rua Alamedas das Princesas, 000</li>
                                <li><strong>Cidade:</strong> Belo Horizonte</li>
                                <li><strong>Estado:</strong> MG</li>
                                <li><strong>País:</strong> Brasil</li>
                                <li><strong>Público extimado:</strong> 20.000</li>
                                <li><strong>CEP:</strong> 31900-000</li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <h4>Atividades</h4>
                            <div class="list-group list-blocks">
                                <div class="list-group-item">
                                    <div class="content">
                                        <div class="btn-circle circle-sm circle-blue">
                                            <div class="circle-icon">
                                                <fa class="fa fa-usd"></fa>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <span class="title">Proposta Aceita</span>
                                            <span class="subtitle">Por: Roger Sterling</span>
                                        </div>
                                    </div>
                                    <div class="end">
                                        <span>12/07/2016</span> <br>
                                        <span>14:45</span>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="content">
                                        <div class="btn-circle circle-sm circle-orange">
                                            <div class="circle-icon">
                                                <fa class="fa fa-eye"></fa>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <span class="title">Proposta Visualizada</span>
                                            <span class="subtitle">Por: Roger Sterling</span>
                                        </div>
                                    </div>
                                    <div class="end">
                                        <span>12/07/2016</span> <br>
                                        <span>14:45</span>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="content">
                                        <div class="btn-circle circle-sm circle-orange">
                                            <div class="circle-icon">
                                                <fa class="fa fa-paper-plane"></fa>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <span class="title">Proposta Enviada</span>
                                            <span class="subtitle">Por: Roger Sterling</span>
                                        </div>
                                    </div>
                                    <div class="end">
                                        <span>12/07/2016</span> <br>
                                        <span>14:45</span>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div class="content">
                                        <div class="btn-circle circle-sm circle-purple">
                                            <div class="circle-icon">
                                                <fa class="fa fa-star"></fa>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <span class="title">Convite Recebido</span>
                                            <span class="subtitle">Em: Quartel Design</span>
                                        </div>
                                    </div>
                                    <div class="end">
                                        <span>12/07/2016</span> <br>
                                        <span>14:45</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="timeline">
                                <div class="block block-purple">
                                    <div class="btn-circle circle-lg">
                                        <div class="circle-icon">
                                            <fa class="fa fa-star"></fa>
                                        </div>
                                    </div>
                                    <div class="top-line"></div>
                                    <div class="bot-line"></div>
                                    <div class="title">Convite Recebido</div>
                                    <div class="subtitle">12/08/2016</div>
                                </div>
                                <div class="block block-orange">
                                    <div class="btn-circle circle-lg">
                                        <div class="circle-paper-plane">
                                            <fa class="fa fa-star"></fa>
                                        </div>
                                    </div>
                                    <div class="top-line"></div>
                                    <div class="bot-line"></div>
                                    <div class="title">Proposta Enviada</div>
                                    <div class="subtitle">12/08/2016</div>
                                </div>
                                <div class="block block-blue">
                                    <div class="btn-circle circle-lg">
                                        <div class="circle-icon">
                                            <fa class="fa fa-usd"></fa>
                                        </div>
                                    </div>
                                    <div class="top-line"></div>
                                    <div class="bot-line"></div>
                                    <div class="title">Proposta Aceita</div>
                                    <div class="subtitle">12/08/2016</div>
                                </div>
                                <div class="block block-off">
                                    <div class="btn-circle circle-lg">
                                        <div class="circle-icon">
                                            <fa class="fa fa-usd"></fa>
                                        </div>
                                    </div>
                                    <div class="top-line"></div>
                                    <div class="bot-line"></div>
                                    <div class="title">Evento Confirmado</div>
                                    <div class="subtitle">12/08/2016</div>
                                </div>
                                <div class="block block-off">
                                    <div class="btn-circle circle-lg">
                                        <div class="circle-icon">
                                            <fa class="fa fa-star"></fa>
                                        </div>
                                    </div>
                                    <div class="top-line"></div>
                                    <div class="bot-line"></div>
                                    <div class="title">Evento Realizado</div>
                                    <div class="subtitle">12/08/2016</div>
                                </div>
                            </div>

                            <div class="page-action">
                                <a href="" class="btn btn-purple">
                                    <i class="fa fa-left fa-file-o"></i>
                                    Gerar Contrato
                                </a>
                                <a href="" class="btn btn-gray">
                                    <i class="fa fa-left fa-times"></i>
                                    Cancelar Evento
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	