<main class="no-logged">
		
    <section class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <div class="box-action">
                    <div class="box-heading text-center">
                        <img src="views/dist/img/logo-simple.png" alt="Vai ser Show">
                        <h2>Criar nova senha.</h2>
                    </div>
                    
                    <div class='alert alert-info' role='alert'>
                        Este é seu primeiro acesso ao VAI SER SHOW. Cria sua senha agora
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <vsh-alerts alert="alert"></vsh-alerts>
                        </div>
                    </div>
                    
                    <form inputs-flow-up id="redefinir_senha" action="#">
                        
                        <div class="form-group flow-up">
                            <label for="login_email">Senha</label>
                            <input ng-model="password.password" type="password" class="form-control" id="request_password" placeholder="" autocomplete="off">
                        </div>
                        
                        <div class="form-group flow-up">
                            <label for="login_email">Confirmação senha</label>
                            <input ng-model="password.pass_confirm" type="password" class="form-control" id="request_pass_confirm" placeholder="" autocomplete="off">
                        </div>
                        
                        <spam ng-click="password.createPassword()"  class="btn btn-primary btn-block">criar senha</spam>
                    </form>
                    
                    <div class="no-logged-footer">
                        
                        <hr>
                        
                        <p>
                            Ainda não possui uma conta? <a href="#/convite">Solicite</a> agora seu convite <br>
                            para participar do VAI SER SHOW Beta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>