<main>

    <section class="admin">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">

                    <div class="list-users">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat=" user in admin.users ">
                                        <td> {{user.id}} </td>
                                        <td> {{user.name}} </td>
                                        <td> {{user.email}} </td>
                                        <td> 
                                            <button ng-click="admin.block( user.id )">Bloquear</button>
                                            <button ng-click="admin.release( user.id )">Liberar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>