<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-wrapper">
                    <p>Powered &copy; vaisershow.com.</p>
                    <ul>
                        <li><a href="#">Termos de uso</a></li>
                        <li><a href="#">Privacidade</a></li>
                        <li><a href="#">Ajuda?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>